 

  <%-include("partials/header")-%>
 <header style="text-align:center; margin-top: 10%; margin-bottom: 4%;">
 	<h1 style="font-size: 60px;font-family:sans-serif; letter-spacing: 2px;">SignUp</h1> 
 </header>
            
 

<div style="margin-left:30%; ">
	<form action="/register" method="post"  >
	<div class="form-group" style="width: 50%;"> 
	<input type="text" name="username" placeholder="username" class="form-control  m-2 text-center" autocomplete="off">
	<input type="password" name="password" placeholder="password"  class="form-control m-2 text-center">
	<button type="submit" class="btn btn-primary btn-block m-2" >Sign Up!</button>
	</div>
</form>

</div >



 <section style="text-align: center;">
 	<h6> Already a User?<a href="/login" style="text-decoration: none;"> Login!</a>
 	</h6>  
 </section>

  
  

<%-include("partials/footer")-%>
 