<%-include("partials/header")-%>
  <h1 style="margin: 28% 15% 0 20%;
  text-align: center;
 ">Welcome To Photo Gallery</h1>  
<div 
style="margin: 2% 20% 0 35%;
width:36%;
 ">         
                        
 <a href="/login" class="btn btn-primary btn-block">View All Photos</a>

</div>
<!-- 
 <footer class="text-center " style=" margin:18% 40% 0 40%;"> 
<p>Made by Shubham Chaudhary</p>
</footer> -->
 
<%-include("partials/footer")-%>